.abstract {
    h1,
    h2,
    h3,
    h4 {
        // Headings in an abstract must _not_ be bold
        font-weight: $normal-font-weight;
    }
    
    p {
        &:first-of-type {
            text-indent: 0;
        }
    }
}