pre {
    line-height: $code-line-height;
    margin: ((0.5 * $base-line-height * $base-font-size)
        + (0.5 * $code-line-height * $code-font-size)) 0;
}

code {
    font-family: $monospace-font-family;
    font-size: $code-font-size;
    @include font-features($code-font-features);
    
    .footnote &,
    tfoot & {
        font-size: $footnote-font-size;
    }
}

.hljs {
    /* Only "highlight" the code using italics, boldness and underlines
        (colours are ommitted to keep the document monochronous) */
    &-comment,
    &-emphasis,
    &-quote {
        font-style: italic;
    }

    &-class &-title,
    &-keyword,
    &-meta,
    &-name,
    &-section,
    &-selector-id,
    &-selector-tag,
    &-strong,
    &-title,
    &-type {
        font-weight: $bold-font-weight;
    }

    &-built_in,
    &-builtin-name,
    &-link {
        text-decoration: underline;
    }
}
