@mixin figure-size($font-size) {
    /* The space following the figure caption is equal
        to the space between base lines */
    figcaption {
        margin: (($base-line-height - 1) * $font-size) 0 0 0;
    }
}

figure {
    /* Display figures as tables so that their width matches
        the intrinsic image width (1). Center figure text
        so that inline elements such as images are centered (2) */
    display: table; // (1)
    table-layout: fixed; // Set table layout
    border-collapse: collapse;
    border-width: 0; // Remove borders
    text-align: center; // (2)
}

figcaption {
    /* Display figure captions as table captions below the image (1).
        Figure captions are left-aligned (2). Avoid page breaks
        inside (3) or directly before (4) the figure caption. */
    display: table-caption; // (1)
    caption-side: bottom; // (1)
    text-align: left; // (2)
    page-break-before: avoid; // (4)
    page-break-inside: avoid; // (3)

    &::before {
        /* Display the figure number in italics (1)
            before the figure caption. The figure number
            is followed by a non-breaking space (2) */
        font-style: italic; // (1)
        content: $figure-prefix counter(figure)
            ($figure-postfix + '\00a0'); // (2)
    }
}

@include figure-size($base-font-size);

.figure {
    &--small {
        @include figure-size($float-small-font-size);
    }
    
    &--tiny {
        @include figure-size($float-tiny-font-size);
    }
}
