@mixin float-size($font-size) {
    /* Separate the float from preceding and following content
        by half a line of space according to the base font size
        and half a line of space according to the custom font size */
    margin: ((0.5 * $base-line-height * $base-font-size)
        + (0.5 * $base-line-height * $font-size)) auto;
    
    // Only redefine the font size when necessary
    @if $font-size != $base-font-size {
        font-size: $font-size;
    }
}

@mixin float-link($counter-identifier) {
    &[href] {
        &::after {
            // Append the table number to the table links
            content: target-counter(attr(href), #{$counter-identifier});
        }
    }

    &[data-#{$counter-identifier}-target-counter] {
        &::after {
            /* Allow overriding the counter value with an attribute
                for browsers that do _not_ support "target-counter" */
            content: attr(data-#{$counter-identifier}-target-counter);
        }
    }
}

:root {
    /* Initialise the counters in the root element
        to ensure that tables and figures in various
        sub-elements are numbered consequtively */
    counter-reset: table, figure;
}

table {
    @include float-size($base-font-size);
    counter-increment: table;
}

figure {
    @include float-size($base-font-size);
    counter-increment: figure;
}

.table,
.figure {
    &--small {
        @include float-size($float-small-font-size);
    }

    &--tiny {
        @include float-size($float-tiny-font-size);
    }

    &--full-width {
        width: 100%;
        margin-left: 0; // Remove horizontal margins
        margin-right: 0; // Remove horizontal margins
    }
    
    /* Floating tables and figures are exclusive to printed media.
        Note that the table and figure float definitions are
        _additionally_ placed in a printed media block to prevent
        the margins from being removed in screen layouts */
    @media print {
        &--stick-top {
            float: top;
            margin-top: 0;
        }
        
        &--stick-bottom {
            float: bottom;
            margin-bottom: 0;
        }

        &--landscape {
            page: landscape;
            margin-top: 0;
            margin-bottom: 0;
        }
    }
}

.table-link {
    @include float-link(table);
}

.figure-link {
    @include float-link(figure);
}
