@mixin footnote-marker {
    /* Instead of text indentation, markers are formatted
        as minimum-width inline blocks to "indent" the footnote text.
        Right-aligned numbers are placed within these blocks
        so that the numbers directly precede the text */
    display: inline-block;
    min-width: $footnote-indent;
    text-align: right;
}

$footnote-separator-space-top:
    (($base-font-size * ($base-line-height - 1) * 0.5)
        - ($footnote-separator-thickness * 0.5));
$footnote-separator-space-bottom:
    (($footnote-font-size * ($base-line-height - 1) * 0.5) 
        - ($footnote-separator-thickness * 0.5));

@page {
    @footnotes {
        // Footnotes may take up no more than
        // one third of the page text area (1)
        margin: $footnote-separator-space-top 0 0 0;
        border-top: $footnote-separator-thickness solid $primary-color;
        border-clip: $footnote-separator-length; // Prince-specific
        padding: $footnote-separator-space-bottom 0 0 0;
        max-height: (($page-height - ($page-margin * 2)) / 3); // (1)
        vertical-align: top;
    }
}

.footnote {
    /* Place footnote numbers inside the content box (1)
        and prevent text alignment, text indentation
        and white space from being inherited (2) */
    float: footnote;
    footnote-style-position: inside; // (1)
    font-size: $footnote-font-size;
    text-align: left; // (2)
    text-indent: 0; // (2)
    white-space: normal; // (2)

    @media screen {
        /* Hide inline footnotes on the screen
            (preventing them from being displayed within the text) */
        display: none;
    }
    
    &::footnote-call,
    &::footnote-marker {
        @include font-features($footnote-marker-font-features);
        line-height: none; // Prevent altering the line height
        vertical-align: baseline; // Reset vertical alignment
        content: counter(footnote);
    }
    
    &::footnote-call {
        // Reset the font size to the parent font size
        font-size: $base-font-size;
    }
    
    &::footnote-marker {
        /* The common footnote marker styles are defined in a mixin
            instead of an abstract class because page selectors
            and class-based selectors cannot be combined */
        @include footnote-marker;
    }

    &--flow {
        /* Display flowed footnotes above each other (1)
            and do _not_ remove flowed footnotes
            from the document flow to reinsert them elsewhere (2) */
        display: block; // (1)
        float: none; // (2)

        &[data-footnote-counter] {
            &::before {
                @include footnote-marker;
                @include font-features($footnote-marker-font-features);
                content: attr(data-footnote-counter);
            }
        }
    }
}

.footnote-container {
    $footnote-container-space-bottom:
        ($base-line-height * $footnote-font-size);

    /* Allow elements to be absolutely positioned
        within the footnote container (1)
        and use a transparent border as a placeholder
        for the clipped border (2) */
    position: relative; // (1)
    margin: $footnote-separator-space-top 0
        $footnote-container-space-bottom 0;
    border-top: $footnote-separator-thickness solid transparent; // (2)
    padding: $footnote-separator-space-bottom 0 0 0;

    &::before {
        /* Simulate a clipped border using a fixed-width
            pseudo-element because browsers do _not_ support
            the "border-clip" property (1) and position
            the pseudo-element border over the parent border (2) */
        display: block;
        position: absolute; // (2)
        top: 0; // (2)
        left: 0; // (2)
        width: $footnote-separator-length; // (1)
        border-top: $footnote-separator-thickness solid $primary-color;
        content: '';
    }
}

.footnote-link {
    &[data-footnote-target-counter] {
        &::before {
            @include font-features($footnote-marker-font-features);
            content: attr(data-footnote-target-counter);
        }
    }
}
