header {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        /* Headings in the header must _not_ be bold
            and text alignment must be inherited */
        font-weight: $normal-font-weight;
        text-align: inherit;
    }
    
    a {
        /* Place multiple links underneath
            one another (1) and render links unclickable (2) */
        display: block; // (1)
        prince-link: none; // (2)
    }
}

.running-head {
    /* Take the header out of the document flow
        and allow it to be repeated on each page */
    position: running(header);

    @media screen {
        // Hide running heads on the screen
        display: none;
    }
    
    &-title {
        @include font-features($page-header-font-features);
        text-transform: uppercase;
    }
    
    &:first-of-type {
        /* The title of the first running head is prefixed;
            it should be defined before the title header
            and another running head should be defined after
            the title header (for the remaining document) */
        .running-head-title {
            &::before {
                /* Negate the text transformation of the title
                    and reset the font features */
                @include font-features($base-font-features);
                text-transform: none;
                content: $page-header-prefix;
            }
        }
    }
}

.frontmatter {
    /* Display the header six lines from the top (1)
        and ensure that other content is _not_
        displayed on the same page (2) */
    page-break-after: always; // (2)
    margin: ($base-line-height * 6em) 0; // (1)
    text-align: center;

    &-titles,
    &-authors,
    &-affiliations {
        /* Separate the authors and organisation
            by the height of a single line */
        margin: ($base-line-height * 1em) 0;
    }
}
