@mixin table-size($font-size) {
    /* The space following the caption is equal to the space
        between base lines minus half the table rule thickness
        (halves of the table rule thickness are subtracted
        from spacing so that spacings separated by table rules
        adds up to simple fractions of the base line height */
    caption {
        margin: 0 0 ((($base-line-height - 1) * $font-size)
            - ($table-rule-thickness * 0.5)) 0;
    }
    
    /* Calculate the padding that must be added above and below
        tables lines to match the base line height */
    $table-line-padding:
        (0.5 * ($base-line-height - $table-line-height) * $font-size);
    
    /* The cells above and below outer table rules are padded
        so that the space in between these cells (including the space
        taken up by the table rule) amounts to a quarter of the line height */
    $table-outer-padding: (
        ((0.25 * 0.5 * $base-line-height * $font-size)
                - ($table-rule-thickness * 0.5))
            + $table-line-padding
    );
    
    tr {
        &:first-child {
            th,
            td {
                padding-top: $table-outer-padding;
            }
        }

        &:last-child {
            th,
            td {
                padding-bottom: $table-outer-padding;
            }
        }
    }
    
    /* The cells above and below inner table rules are padded
        so that the space in between these cells amounts to
        three-sixteenth of the line height */
    $table-inner-padding: (
        (0.1875 * 0.5 * $base-line-height * $font-size)
            + $table-line-padding
    );
    
    tr {
        &:not(:first-child) {
            th {
                padding-top: $table-inner-padding;
            }
            
            td {
                padding-top: $table-line-padding;	
            }
        }

        &:not(:last-child) {
            th {
                padding-bottom: $table-inner-padding;
            }
            
            td {
                padding-bottom: $table-line-padding;
            }
        }
    }
}

table {
    table-layout: auto; // Set table layout
    border-collapse: collapse;
}

caption {
    /* Display the caption above the table (1)
        and avoid page breaks inside (2)
        or directly after (3) the caption. */
    caption-side: top; // (1)
    font-style: italic; 
    text-align: left;
    page-break-after: avoid; // (3)
    page-break-inside: avoid; // (2)
    
    &::before {
        /* Display the table number on its own line (1)
            and negate the italic font style of the caption (2) */
        display: block; // (1)
        font-style: normal; // (2)
        content: $table-prefix counter(table);
    }
}

thead,
tbody {
    /* Place rules above and below the table head
        and table body (1). The bottom rule of the table head
        and the top rule of the table body will be collapsed */
    border-width: $table-rule-thickness 0; // (1)
    border-style: solid;
    border-color: $primary-color;
    @include font-features($table-font-features);
    line-height: $table-line-height;
}

tfoot {
    /* Note that table notes' font size is _not_ shrunk
        in order to maintain their legibility */
    font-size: $footnote-font-size;
}

th,
td {
    border: 0; // Reset borders
    padding: 0; // Reset padding

    /* Horizontally separate the table body cells
        and table header cells with transparent borders.
        Borders are _not_ applied to the leftmost (1)
        and rightmost (2) cells. */
    &:not(:first-child) {
        border-left: $table-horizontal-cell-spacing
            solid transparent; // (1)
    }
    
    &:not(:last-child) {
        border-right: $table-horizontal-cell-spacing
            solid transparent; // (2)
    }
    
    /* WORKAROUND: Prince contains a bug which causes
        the rightmost table cells that span multiple columns
        to have their left borders applied to their right sides
        as well, causing whitespace to occur at the right edge
        of the table. The redundant borders defined above
        allow the left border of the rightmost cells to be removed */
    &:last-child {
        border-left: 0;
    }
    
    &:not([align]) {
        /* Exclusively cause the text alignment to be inherited
            for table cells without an explicitly defined alignment */
        text-align: inherit;
    }
}

th {
    font-weight: inherit;
    
    &:not([valign]) {
        /* Override the vertical alignment
            unless it is explicitly specified */
        vertical-align: bottom; 
    }
}

td {
    &:not([valign]) {
        /* Override the vertical alignment
            unless it is explicitly specified */
        vertical-align: top;
    }
}

@include table-size($base-font-size);

tfoot {
    /* Table notes' padding is marked important
        to prevent if from being overriden in smaller table sizes */
    td {	
        // Reset the padding around the table notes
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    
    tr {
        &:first-child {
            td {
                /* The space before the table notes is
                    equal to the half the space between lines
                    (minus half the table rule thickness).
                    Note that this quantity matches the space above
                    the footnote separator when table rules have
                    the same thickness as the footnote separator */
                padding-top:
                    (($base-font-size * ($base-line-height - 1) * 0.5)
                        - ($table-rule-thickness * 0.5)) !important;
            }
        }
    }
}

.table {
    &--small {
        @include table-size($float-small-font-size);
    }
    
    &--tiny {
        @include table-size($float-tiny-font-size);
    }
}

.table-header {
    &--parent {
        /* Allow table header rules to be absolutely positioned
            within parent table headers cells (1) */
        position: relative; // (1)
    
        &::after {
            /* Simulate a trimmed border using a pseudo-element
                that is positioned between rows (1). */
            display: block;
            content: '';
            position: absolute; // (1)
            bottom: (-0.5 * $table-rule-thickness); // (1)
            left: 0;
            right: 0;
            border-bottom: $table-rule-thickness
                solid $primary-color;
        }
    }
}

.table-cell {
    &--indented {
        padding-left: 1em;
    }
    
    &--doubly-indented {
        padding-left: 2em;
    }
    
    &--triply-indented {
        padding-left: 3em;
    }
}
