<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        {{ #authors }}
        <meta name="author" content="{{ name }}">
        {{ /authors }}
        <title>{{ #titles }}{{ main }}{{ #subtitle }}: {{ subtitle }}{{ /subtitle }}{{ /titles }}</title>
        <link rel="stylesheet" href="styles/main.min.css">
    </head>
    <body>
        {{ #titles }}
        <header class="running-head">
            <div class="running-head-title">{{ header }}</div>
        </header>
        {{ /titles }}
        <header class="frontmatter">
            {{ #titles }}
            <hgroup class="frontmatter-titles">
                <h1 class="frontmatter-titles-main">{{ main }}</h1>
                {{ #subtitle }}
                <h2 class="frontmatter-titles-subtitle">{{ subtitle }}</h2>
                {{ /subtitle }}
            </hgroup>
            {{ /titles }}
            <div class="frontmatter-authors">
                {{ #authors }}
                <a class="frontmatter-authors-author" href="mailto:{{{ email }}}" rel="author">{{ name }}{{ #identifier }} ({{ identifier }}){{ /identifier }}</a>
                {{ /authors }}
            </div>
            <div class="frontmatter-affiliations">
                {{ #course }}
                <div class="frontmatter-affiliations-course">{{ name }}{{ #from-year }} ({{ from-year }}{{ #to-year }}&#8211;{{ to-year }}{{ /to-year }}){{ /from-year }}</div>
                {{ /course }}
                {{ #organisation }}
                <a class="frontmatter-affiliations-organisation" href="{{{ link }}}" rel="external">{{ name }}</a>
                {{ /organisation }}
            </div>
        </header>
        {{ #titles }}
        <header class="running-head">
            <div class="running-head-title">{{ header }}</div>
        </header>
        {{ /titles }}
        <script src="scripts/main.min.js"></script>
    </body>
</html>
