// Layout
$page-width: 210mm;
$page-height: 297mm;
$page-margin: 25mm;

// Colors
$primary-color: #000;

// Typography
$serif-font-family: 'Milo Serif OT', serif;
$sans-serif-font-family: 'Milo OT', sans-serif;
$monospace-font-family: 'Consolas', monospace;

$base-font-features: kern, liga, clig, calt, lnum, pnum;
$numeric-superscript-font-features: kern, sups;
$numeric-subscript-font-features: kern, subs;
$discretionary-ligature-font-features: append($base-font-features, dlig);

$normal-font-weight: 400;
$bold-font-weight: 700;

// Based on LaTeX font sizes (https://tex.stackexchange.com/a/24600)
$base-font-size: 12pt;
$footnote-font-size: 10pt;
$script-font-size: 8pt;

/* This is approximately equivalent to one-and-a-half
    line spacing in Apple Pages and Microsoft Word */
$base-line-height: 1.75;
$base-hyphens: none;

$paragraph-widows: 1; // Set to one allow all widows
$paragraph-orphans: 1; // Set to one to allow all orphans
$paragraph-indent: ($page-margin * 0.5);

// Header
$page-header-font-features: kern, liga, clig, calt, lnum, pnum, case, cpsp;
$page-header-prefix: 'Running head: ';

// Headings
$inline-heading-postfix: '.';

// Footnotes
$footnote-indent: ($page-margin * 0.25);
$footnote-separator-length: ($page-margin * 2.5);
$footnote-separator-thickness: 0.625pt;
$footnote-marker-font-features: $numeric-superscript-font-features;

// References
$reference-indent: $paragraph-indent;

// Floats (tables and figures)
$float-small-font-size: 11pt;
$float-tiny-font-size: 10pt;

// Tables
$table-font-features: kern, liga, clig, calt, lnum, tnum, case;
$table-line-height: 1.25;
$table-horizontal-cell-spacing: 1em;
$table-rule-thickness: 0.625pt;
$table-prefix: 'Table ';

// Figures
$figure-prefix: 'Figure ';
$figure-postfix: '.';

// Code
$code-font-features: null;
$code-font-size: 11pt;
$code-line-height: (63 / 44); // = 1.4318

/* NOTE: LaTeX ratio of bp to pt equals (800/803) */
