@mixin page-header {
    @if $page-margin >= (3 * $base-line-height * $base-font-size) {
        // Position the header content one line
        // above the body box (by means of padding)
        // if the page margin is at least three lines tall
        padding: ($base-line-height * $base-font-size) 0;
        vertical-align: bottom;
        
    } @else {
        // Vertically center the header content
        // in page margins which are shorter than three lines
        vertical-align: middle;
    }
}

@page {
    size: $page-width $page-height portrait;
    margin: $page-margin;

    @top-left {
        @include page-header;
        content: element(header);
    }
    
    @top-right {
        @include page-header;
        content: counter(page);
    }
}

@page landscape {
    prince-rotate-body: landscape;
}

@media screen {
    body {
        // Simulate the page dimensions on screens
        box-sizing: border-box;
        margin: 0 auto;
        width: $page-width;
        min-height: $page-height;
        padding: $page-margin;
    }
}
