@mixin font-features($font-features) {
    @if $font-features {
        $prince-opentype: ();
        $font-feature-settings: ();

        @each $font-feature in $font-features {
            $prince-opentype: append(
                $prince-opentype,
                unquote($font-feature),
                comma
            );
    
            $font-feature-settings: append(
                $font-feature-settings,
                quote($font-feature),
                comma
            );
        }

        /* Although font features should be specified
            with the "font-variant" property in browsers,
            the "font-feature-settings" property is used instead
            for consistency with the "prince-opentype()" format */
        font-variant: normal; // Browser-compatible fallback
        font-variant: prince-opentype(#{$prince-opentype});
        font-feature-settings: $font-feature-settings;

    } @else {
        font-variant: normal;
        font-feature-settings: normal;
    }
}

/* Note that pages are required to have
    their own typography definitions (separate from the document) */
@page {
    font-family: $serif-font-family;
    font-synthesis: none;
    font-size: $base-font-size;
    @include font-features($base-font-features);
    line-height: $base-line-height;
    hyphens: $base-hyphens;
    color: $primary-color;
    
    @top-left {
        text-align: left;
    }
    
    @top-right {
        text-align: right;
    }
}

html {
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $primary-color;
}

body {
    font-family: $serif-font-family;
    font-synthesis: none;
    @include font-features($base-font-features);
    text-align: left;
    hyphens: $base-hyphens;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Prevent headers from being another page
        than the beginning of the first paragraph
        (irrespective of widows and orphans; 1) */
    margin: 0;
    font-size: 1em;
    page-break-after: avoid; // (1)
}

h3,
h4,
h5,
h6 {
    /* "Inline" headings using float (1) and indent the heading
        instead of any following paragraphs (2) */
    float: left; // (1)
    text-align: left;
    text-indent: $paragraph-indent; // (2)
    
    &::after {
        /* Insert the inline heading postfix
            and a non-breaking space after "inline" headings
            because floating elements are _not_ separated
            by spaces (unlike regular inline elements) */
        content: ($inline-heading-postfix + '\00a0');
    }
}

h1 {
    font-weight: $bold-font-weight;
    text-align: center;
}

h2 {
    font-weight: $bold-font-weight;
    text-align: left;
}

h3 {
    font-weight: $bold-font-weight;
}

h4 {
    font-weight: $bold-font-weight;
    font-style: italic;
}

h5 {
    font-weight: $normal-font-weight;
    font-style: italic;
}

h6 {
    /* Note that the sixth level heading
        is defined for completeness
        (the APA only defines five levels) */
    font-weight: $normal-font-weight;
}

p {
    margin: 0;
    text-indent: $paragraph-indent;
    widows: $paragraph-widows;
    orphans: $paragraph-orphans;
    
    h3 + &,
    h4 + &,
    h5 + &,
    h6 + & {
        /* Remove text indentation from the paragraph
            (text is instead indented by the inline header) */
        text-indent: 0;
    }
}

a {
    color: inherit;
    text-decoration: none;
}

svg {
    /* Font features are _not_ updated
        because the serif and sans serif fonts
        are assumed to have the same features */
    font-family: $sans-serif-font-family;
}

sup,
sub {
    /* Prevent superscripts and subscripts
        from increasing the line height */
    line-height: 0;
}

.numeric-superscript,
.numeric-subscript {
    /* Reset the font size and vertical alignment
        for numeric superscripts and subscripts */
    font-size: inherit;
    vertical-align: baseline;
}

.numeric-superscript {
    @include font-features($numeric-superscript-font-features);
}

.numeric-subscript {
    @include font-features($numeric-subscript-font-features);
}

.discretionary-ligatures {
    @include font-features($discretionary-ligature-font-features);
}
